*{
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .carousel-inner{
        height: 160px;
    }
    #sidebar{
        position: absolute !important;
        top: 100px;
        background-color: white;
        z-index: 1;
    }
  }

#propic{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.carousel-inner{
    border-radius: 20px;
}

.navbar-brand{
    font-weight: bold;
}
.navbar-brand span{
    color: rgb(255, 59, 59);
}

#nav-list h6{
    font-weight: lighter;
}

.active i{
    color: rgb(255, 59, 59);
}

#side-nav .nav-link{
    border-left: 3px solid transparent;
}
#side-nav .nav-link:hover{
    border-left: 3px solid rgb(255, 59, 59);
}
#side-nav .active{
    border-left: 3px solid rgb(255, 59, 59);
}

#sidebar{
    border-right: 0.5px solid black;
    position: relative;
}

#poster .card{
    border-radius: 30px;
}
#poster .card:hover{
    box-shadow: 8px 8px 8px  gray;
    transform:scale(1.01);
}

.card .card-img-top{
    border-radius: 30px;
}

.close {
    background-color: white;
    border: none;
    color: grey;
    font-size: 30px;
}

#carouselButton {
    right: 20px;
    position: absolute;
    top: 20px;
    border-radius: 50%;
    z-index: 1;
    background-color: rgb(255, 59, 59);
    font-size: 15px;
    color: white;
}
#carouselButton2 {
    right: 20px;
    position: absolute;
    bottom: 20px;
    border-radius: 20px;
    z-index: 1;
    background-color: rgb(255, 59, 59);
    font-size: 15px;
    color: white;
}